.estilotitulo {
	font-family: Juice ITC;
	font-size: 150px;
	font-weight: bold;
	text-align: center;
	color: #028104;	
	text-shadow: 5px 5px 25px black;

}
.estiloseccion1 {
	float: left;
	width: 625px;
	height: 730px;
	background color: white;
	margin: 20px;
	box-shadow: 5px 5px 25px black;
}
.estiloseccion2 {
	float: right;
	width: 625px;
	height: 730px;
	background color:white;
	margin: 20px;
	box-shadow: 5px 5px 25px black;
}
.fondo {
	background-image: url(https://i.pinimg.com/originals/5e/61/f3/5e61f3342f4ebaa447a421978c6b0bb8.gif);
	background-size: cover;
}	
.divprincipal {
	background color: black;
	opacity: 1;
	width: 1340px;
	height: 1125px;
	box-shadow: 5px 5px 25px black;
}	
.footer {
	background color: rgba( 209, 247, 187, 0.25);
	clear: both;
	margin:20px;
	height:325px;
	width:1300px;
	box-shadow: 5px 5px 25px black;
	opacity: 0.5;
	}
.imagen {
	background-image: url(https://cr00.epimg.net/radio/imagenes/2018/12/02/de_pelicula/1543710409_395120_1543710491_noticia_normal.jpg);
	width: 585px;
	background-size: cover;
	height: 315px;
	margin: 20px;
	opacity: 1;
	box-shadow: 5px 5px 25px black;
}
.sinopsis {
	font-family: Papyrus;
	font-size: 30px;
	font-weight:bold;
	text-align: center;
	color: black;
	margin:20px;

}
.parrafo {
	font-family: Papyrus;
	font-size: 15px;
	font-weight: 5px;
	text-align: justify;
	margin: 15px;
	color: black;
}
.datospeli {
	line-height: 5px;
	font-family: Papyrus;
	font-size: 15px;
	color: black;
}
.enlaces {
	margin:15px ;
	font-family: Papyrus;
	font-size: 15px;
}
.textofooter {
	font-family: Papyrus;
	font-size: 30px;
	font-weight:bold;
	text-align: left;
	color: black;
	margin: 20px;
}
